In [5]:
import requests
import pandas as pd
import json

In [2]:
import requests

url = "https://sky-scrapper.p.rapidapi.com/api/v2/flights/searchFlights"

querystring = {"originSkyId":"MAD","destinationSkyId":"LIS","originEntityId":"95565077","destinationEntityId":"95565055","date":"2024-10-25","returnDate":"2024-10-28","cabinClass":"economy","adults":"1","sortBy":"best","limit":"25","currency":"EUR"}

headers = {
	"x-rapidapi-key": "8bf68f7481msh7aa93c8e8e9a6ffp19eef8jsn33f2cc37fe85",
	"x-rapidapi-host": "sky-scrapper.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

viajes = response.json()

In [6]:

with open('vuelos.json', 'w') as archivo_json:
    json.dump(viajes, archivo_json, indent=4)

In [8]:
viajes['data'].keys()

dict_keys(['context', 'itineraries', 'messages', 'filterStats', 'flightsSessionId', 'destinationImageUrl'])

In [10]:
len(viajes['data']['itineraries'])

10

In [18]:
precios = viajes['data']['itineraries'][0]['price']['raw']

In [17]:
id_inicio = viajes['data']['itineraries'][0]['legs'][0]['origin']['id']

In [19]:
inicio_ciudad = viajes['data']['itineraries'][0]['legs'][0]['origin']['name']

In [21]:
id_regreso = viajes['data']['itineraries'][0]['legs'][0]['destination']['id']
id_regreso

'LIS'

In [23]:
regreso_ciudad = viajes['data']['itineraries'][0]['legs'][0]['destination']['name']
regreso_ciudad

'Lisbon'

In [25]:
tiempo = viajes['data']['itineraries'][0]['legs'][0]['durationInMinutes']
tiempo

80

In [26]:
paradas = viajes['data']['itineraries'][0]['legs'][0]['stopCount']
paradas

0

In [32]:
linea_aerea = viajes['data']['itineraries'][1]['legs'][1]['carriers']['marketing'][0]['name']
linea_aerea

'Iberia'

In [44]:
hora_salida = inicio_ciudad = viajes['data']['itineraries'][0]['legs'][0]['departure']
hora_salida

'2024-10-25T22:35:00'

In [48]:
hora_salida = inicio_ciudad = viajes['data']['itineraries'][0]['legs'][0]['arrival']
hora_salida

'2024-10-25T22:55:00'

In [52]:
lista_de_diccionarios = []
for i in range(0,(len(viajes))-1):
    precios = viajes['data']['itineraries'][i]['price']['raw']
    for j in range(0,2):
        id_inicio = viajes['data']['itineraries'][i]['legs'][j]['origin']['id']
        inicio_ciudad = viajes['data']['itineraries'][i]['legs'][j]['origin']['name']
        id_regreso = viajes['data']['itineraries'][i]['legs'][j]['destination']['id']
        regreso_ciudad = viajes['data']['itineraries'][i]['legs'][j]['destination']['name']
        tiempo = viajes['data']['itineraries'][i]['legs'][j]['durationInMinutes']
        paradas = viajes['data']['itineraries'][i]['legs'][j]['stopCount']
        linea_aerea = viajes['data']['itineraries'][i]['legs'][j]['carriers']['marketing'][0]['name']
        hora_salida = viajes['data']['itineraries'][i]['legs'][j]['departure']
        hora_llegada = viajes['data']['itineraries'][i]['legs'][j]['arrival']
        diccionario = {'Costo': precios,
                'ID Salida': id_inicio,
                'Salida': inicio_ciudad,
                'ID Llegada': id_regreso,
                'Llegada': regreso_ciudad,
                'Tiempo': tiempo,
                'Paradas': paradas,
                'Aerolínea': linea_aerea}
        lista_de_diccionarios.append(diccionario)

In [53]:
df = pd.DataFrame(lista_de_diccionarios)

In [54]:
df

    Costo ID Salida  Salida ID Llegada Llegada  Tiempo  Paradas Aerolínea
0  154.36       MAD  Madrid        LIS  Lisbon      80        0   easyJet
1  154.36       LIS  Lisbon        MAD  Madrid      80        0   easyJet
2  160.41       MAD  Madrid        LIS  Lisbon      85        0    Iberia
3  160.41       LIS  Lisbon        MAD  Madrid      85        0    Iberia
4  130.80       MAD  Madrid        LIS  Lisbon      85        0   Ryanair
5  130.80       LIS  Lisbon        MAD  Madrid      80        0   Ryanair